@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    margin: 10px;
    
}

.content{
    background-color: teal;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}