@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

*{
    box-sizing: border-box;
}

body{
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin: 10px;
}

.container{
    height: 200px;
    width: 250px;
    display: flex;
    overflow: hidden; /*hides scroll bar*/
}


img{
    height: 200px ;
    width: 250px;
    object-fit: cover;
    transform: translateX(0px);
    transition: transform 1s ease-in-out;

}

